/*
--text: #e1e9ec;
--background: #0c181c;
--primary: #4b92a9;
--secondary: #167595;
--accent: #1ec0f6;
*/
  

body {
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#e1e9ec;
    background-color: #0c181c;
    overflow-x: hidden;
}

h1 {
    font-size: 8vh;
}

.character {
    position: relative;
    width: 8vh;
    z-index: -1;
}

.characterholder {
    padding-top: 6vh;
    padding-bottom: 2vh;
    display: inline;
}

.characterholder:active {
    position: relative;
    top: -2vh;
}

.characterholder:hover {
    position: relative;
    top: -2vh;
}

h2 {
    font-size: 5vh;
}
p {
    font-size: 3vh;
}
#characters {
    position: relative;
    top: 5vh;
    margin-left: 3vh;
    display: inline;
    user-select: none;
    image-rendering: pixelated;
}

.center {
    text-align: center;
    opacity: 75%;
}

.content {
    margin: 1vh 1vw;
    padding: 0.25vh 1vw;
    background-color: #0f1415;
}

.primary {
    color: #4b92a9;
}

.secondary {
    color: #167595;
}